<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8"> 
<meta  http-equiv="X-UA-Compatible" content="IE=edg">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>webpage</title>
</head>
<body>

  <div id="app">
    <form >
      <label>Name </label>
      <input v-model="formData.name" type="text" ><hr>
      <label>checkbox1</label>
      <input v-model="formData.checkbox" type="checkbox" value="ch1">
      <label>checkbox2 </label>
      <input v-model="formData.checkbox" type="checkbox"  value="ch2"><hr>
      <label>radio1</label>
      <input v-model="formData.radio" type="radio" value="r1">
      <label>radio2</label>
      <input v-model="formData.radio" type="radio"  value="r2"><hr>

      <label >Message </label>
      <textarea v-model="formData.message" cols="30" rows="10"></textarea>
      <hr>
      <select v-model="formData.lang" multiple>
        <option  v-for="(lang ,index) in langs" :key="index">{{ lang}}</option>
      </select>




      <hr>
      <button @click.prevent="submitForm">submit</button>
    </form>
    </div>



  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./js/main.js"></script>
</body>








</html>